
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Style the button */
.btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: green;
    transform: scale(1.05);
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
